body {
  background-color: #000;
}

.curriculum {
  margin-top: 50;
  padding: 40px 300px 100px 10px;
}

.port {
  margin-left: 0%;
}

.port img {
  width: 250px;
  height: auto;
  border-radius: 10%;
  margin-left: 14%;
}

.port h2  {
  color:dodgerblue;
  font-size: 30px;
  display: i;
  margin-left: 70px;
  font-family: 'Passion One', cursive;
  padding-right: 1%;
  padding-top: 10px;
}
.port p {
  font-size:  20px;
  margin-left: 20%;
  margin-top: 6px;
  font-family: 'Passion One', cursive;}

.icons {
  margin-top: 10px;
  padding-left: 16%;
  font-size: 20px;
}
.icons a {
  padding-right: 5%;
}

.idioma {
  margin-left: 20%;
  padding-top: 7%;
}

.idioma h2 {
  color:dodgerblue;
  font-size: 20px;
  font-family: 'Passion One', cursive;
  margin-bottom: 1%;
}

.idioma p {
  font-family: 'Passion One', cursive;
  padding-top: 7px;
  font-size: 17px;
  margin-left: 1%;
}

.tecno {
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 5%;
}
.tecno h2 {
  color:dodgerblue;
  font-size: 20px;
  font-family: 'Passion One', cursive;
  margin-bottom: 4%;
}
.tecno p {
  font-family: 'Passion One', cursive;
  padding-top: 9px;
  margin-left: 1%;
}

.skills {
  margin-right: 0% ;
  margin-bottom: 10%;
  margin-left: auto;
  padding-left: 0px;
}

.skills h2 {
  color:dodgerblue;
  font-family: 'Passion One', cursive;
  margin-bottom: 5%;
  font-size: 20px;
}
.skills p {
  font-family: 'Passion One', cursive;
  padding-top: 9px;
  margin-left: 1%;
}
.academy-expe {
  padding: 10px 0px 10px 50px ;

}

.academy {
  margin-left: 5%;
  padding-left: 6%;
  margin-bottom: 45px;
  margin-top: 1%;
}

.academy h2 {
  color:dodgerblue;
  font-family: 'Passion One', cursive;
  margin-bottom: 5%;
  font-size: 20px;
}

.academy p {
  font-family: 'Passion One', cursive;
  padding-top: 7px;
  margin-left: 1%;
}

.expe {
  margin-left: 5%;
  padding-left: 6%;
  margin-bottom: 50px;
  margin-top: 10%;
}

.expe h2 {
  color:dodgerblue;
  font-family: 'Passion One', cursive;
  margin-bottom: 5%;
  padding-top: 35px;
  font-size: 20px;
}

.expe p {
  font-family: 'Passion One', cursive;
  padding-top: 7px;
  padding-bottom: 10px;
  margin-left: 1%;
}
 /* 405px  */
@media (max-width: 1213px) {
  .curriculum {
    padding: 90px 100px 100px 10px;
  }

  .port {
    margin-left: 0%;
  }

  .port img {
    margin-left: 0px;
  }
  .port h2  {
    margin-left: 0px;
    margin-bottom: 1%;
    font-size: 30px;
  }
  .port p {
    padding-top: 7px;
    margin-left: 0px;
  }
  .icons {
    font-size: 25px;
    margin-top: 10px;
    padding-left: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .icons a {
    padding-right: 6%;
  }

  .idioma {
    margin-left: 1px;
    padding-top: 8%;
    padding-bottom: 18px;
  }

  .tecno {
    margin-bottom: 20px;
  }
  .tecno h2 {
    font-size: 20px;
  }
  .tecno p {
    padding-top: 10px;
  }

  .skills {
    margin-right: 0% ;
    margin-bottom: 10%;
    margin-left: auto;
    padding-left: 0px;
  }

  .skills h2 {
    margin-bottom: 2%;
    font-size: 20px;
  }
  .skills p {
    padding-top: 10px;
  }
  .academy-expe {
    padding: 0px 0px 0px 0px ;

  }

  .academy {
    margin-left: 0%;
    padding-left: 0%;
    margin-bottom: 30px;
  }

  .academy h2 {
    margin-bottom: 6%;
    font-size: 20px;
  }

  .academy p {
    padding-top: 10px;
    margin-left: 1%;
  }

  .expe {
    margin-left: 0%;
    padding-left: 0%;
    margin-bottom: 45px;
    margin-top: 4%;
  }

  .expe h2 {
    margin-bottom: 5%;
    font-size: 20px;
  }

  .expe p {
    padding-top: 17px;
    margin-left: 1%;
  }
}